html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url("../img/geometry2.png"); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}

.fa-star {
  color: gold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  animation-name: modalOpen;
  animation-duration: 0.8s;
}

.modal-header h2 {
  margin: 0;
  text-align: center;
}

.modal-header {
  padding: 15px;
}

.modal-body {
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  justify-content: center;
}

.modalStars li {
  margin-right: 45px;
  text-align: center;
  justify-content: space-between;
}

.modal-footer {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.5em;
}
.tryAgainBtn {
  background: rgb(43, 184, 240);
  color: black;
  padding: 1em 2em;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 50px;
  border-style: 1px solid black;
}

.closeBtn {
  color: #fff;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn.focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  min-height: 500px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 90%;
  height: 90%;
  max-width: 660px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  width: 24%;
  height: 24%;
  max-width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}
.deck .card.mismatch {
  background-color: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: center;
  width: 90%;
  max-width: 660px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score {
  list-style: none;
  display: inline-block;
  padding-left: 2em;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}
